@{
    ViewData["Title"] = "Home Page";
}
<a href="/Home/Delayed">Delayed page</a>
<div data-controller="authentication">
    <input data-target="authentication.username" type="text" />
    <input data-target="authentication.password" type="password" />
    <button data-action="authentication#submit">Log In</button>
</div>

<div data-controller="entryinput">
    <input
        data-target="entryinput.input"
        data-action="change->entryinput#update keydown->entryinput#keydown keyup->entryinput#keyup"
        type="text"/>
    <div data-target="entryinput.output"></div>
</div>
<div id="app"></div>


@section Scripts
{
    <script src="~/public/app.js"></script>
}
