@{
    ViewData["Title"] = "Home Page";
}

<div data-controller="authentication">
    <input data-target="authentication.username" type="text" />
    <input data-target="authentication.password" type="password" />
    <button data-action="authentication#submit">Log In</button>
</div>

<div data-controller="entryinput">
    <input data-target="entryinput.input" data-action="change->entryinput#update" type="text" />
    <div data-target="entryinput.output"></div>
</div>


@section Scripts
{
    <script src="js/lib/turbolinks-5.2.0.js" defer></script>
    <script type="module" src="js/InitStimulus.js"></script>
}
