@page "/fetchdata"

@using TweetJournal.Access.Entries.Domain
@using TweetJournal.Access.Entries
@inject IEntryAccess EntryAccess

<h1>Entries</h1>

@if (_entries == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    @foreach (var entry in _entries)
    {
        <div>@entry.Content</div>
    }
}

@code {
    private IEnumerable<Entry> _entries;

    protected override async Task OnInitializedAsync()
    {
        _entries = await EntryAccess.GetAsync();
    }

}