@page "/"
@using TweetJournal.Client.Services
@inject IEntryService EntryService

<div class="flex mb-4">
    <div class="w-1/5"></div>
    <div class="w-3/5">
        <EntryInput OnSubmit="@HandleSubmitEntry" />
    </div>
    <div class="w-1/5"></div>
</div>
<div class="flex mb-4">
    <div class="w-1/5"></div>
    <div class="w-3/5">
        <EntryList Entries="@Entries" />
    </div>
    <div class="w-1/5"></div>
</div>

@code {
    private List<Entry> Entries = new List<Entry>();

    private void HandleSubmitEntry(string submittedValue)
    {
        Entries.Add(new Entry
        {
            CreatedDate = DateTime.Now,
            Name = submittedValue
        });
    }

    protected override async Task OnInitializedAsync()
    {
        var response = await EntryService.GetAllAsync();
        if (!response.IsError)
        {
            Entries = response.Result.ToList();
        }
    }
}   